<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myModuleLabel" jhiTranslate="dematNotesApp.module.home.createOrEditLabel">Create or edit a Module</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!module.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="module.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.module.yearPeriod" for="field_yearPeriod">Year Period</label>
            <input type="text" class="form-control" name="yearPeriod" id="field_yearPeriod"
                [(ngModel)]="module.yearPeriod" required/>
            <div [hidden]="!(editForm.controls.yearPeriod?.dirty && editForm.controls.yearPeriod?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.yearPeriod?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.module.optionModule" for="field_optionModule">Option Module</label>
            <input type="checkbox" class="form-control" name="optionModule" id="field_optionModule"
                [(ngModel)]="module.optionModule" />
            <div [hidden]="!(editForm.controls.optionModule?.dirty && editForm.controls.optionModule?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.optionModule?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.module.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" [(ngModel)]="module.courseId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseOption.id" *ngFor="let courseOption of courses; trackBy: trackCourseById">{{courseOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.module.school" for="field_school">School</label>
            <select class="form-control" id="field_school" name="school" [(ngModel)]="module.schoolId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="schoolOption.id" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
