<mat-tab-group>

    <!-- Saisie des moyennes -->
    <mat-tab label="Saisie des moyennes">
        <span>Saisie des moyennes</span>
        <form #f="ngForm" (ngSubmit)="saveMarks()">
            <!-- Listes déroulante -->
            <mat-form-field>
                <mat-select name="schoolSelected" [(ngModel)]="this.schoolSelected"
                            (ngModelChange)="getClassroomsByCurrentUserTeacher()" placeholder="Ecoles">
                    <mat-option *ngFor="let school of schools" [value]="school.id">
                        {{ school.wording | uppercase }} - {{school.city | uppercase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select name="classroomSelected" [(ngModel)]="classroomSelected"
                            (ngModelChange)="getStudentsUserByCurrentUserTeacher()" placeholder="Classes">
                    <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                        {{ classroom.entitled |uppercase }} - {{ classroom.option | uppercase }} - {{ classroom.division | uppercase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select name="Module" placeholder="Module" [(ngModel)]="this.idModule">
                    <mat-option *ngFor="let module of this.modulesList.modules" [value]="module.id">
                        {{ module.entitled | uppercase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <label class="form-control-label" jhiTranslate="marks.evaluationDate" for="field_evaluationDate">Date de
                l'évaluation</label>
                <input id="field_evaluationDate" type="datetime-local" class="col-lg-2" name="evaluationDate"
                       [(ngModel)]="evaluationDate"
                       required/>
            <span [hidden]="!(f.controls.evaluationDate?.dirty && f.controls.evaluationDate?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!f.controls.evaluationDate?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!f.controls.evaluationDate?.errors?.ZonedDateTimelocal"
                       jhiTranslate="f.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </span>

            <div>
                <button type="submit" class="btn btn-warning" name="validate">
                    Valider
                </button>
            </div>
            <br/>
        </form>

        <div *ngIf="classroomSelected">
            <table class="table table-striped tab contentTab" *ngIf="this.studentsList">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" jhiTranslate="marks.firstName">Prénom</th>
                    <th scope="col" jhiTranslate="marks.lastName">Nom</th>
                    <th scope="col" jhiTranslate="marks.average">Moyenne</th>
                    <th scope="col" jhiTranslate="marks.comment">Commentaire</th>
                </tr>
                </thead>
                <tbody *ngFor="let user of this.studentsList.users; let iteration = index" >
                <tr>
                    <td scope="row"><img [src]="user.imageUrl != '' ? user.imageUrl : this.imgAvatar"
                                         class="avatar img-responsive" alt="avatar" height="100" width="100"></td>
                    <td> {{user.firstName}}</td>
                    <td> {{user.lastName}}</td>
                    <td><input type="text" name="mark" [(ngModel)]="this.averages[iteration]" id="fieldAverage"
                               maxlength="2">
                    </td>
                    <td><textarea name="comment" [(ngModel)]="this.comments[iteration]" id="fieldComment"
                                  rows="2"></textarea>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="alert alert-success alertMessage" role="alert" jhiTranslate="marks.validationSuccess"
             *ngIf="this.stateSaved === 1">
            La validation a été enregistrée
        </div>
        <div class="alert alert-danger alertMessage" role="alert" jhiTranslate="marks.validationError"
             *ngIf="this.stateSaved === -1">
            La validation n'a pas été enregistrée
        </div>
    </mat-tab>

    <!-- Graphe -->
    <mat-tab label="Graphe">
        <!-- Listes déroulante -->
        <mat-form-field>
            <mat-select name="schoolSelected" [(ngModel)]="schoolSelectedGraph"
                        (ngModelChange)="getClassroomsByCurrentUserTeacherGraph()" placeholder="Ecoles">
                <mat-option *ngFor="let school of schoolsGraph" [value]="school.id">
                    {{ school.wording }} - {{school.city}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select name="classroomSelected" [(ngModel)]="classroomSelectedGraph"
                        (ngModelChange)="getStudentsUserByCurrentUserTeacherGraph()"
                        placeholder="Classes">
                <mat-option *ngFor="let classroom of classroomsGraph" [value]="classroom.id">
                    {{ classroom.entitled }} - {{ classroom.option }} - {{ classroom.division }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div style="width: 59%;" *ngIf="this.containsData">
            <canvas
                baseChart
                [chartType]="'line'"
                [datasets]="chartData"
                [options]="chartOptions"
                [legend]="true"
                (chartClick)="onChartClick($event)">
            </canvas>
        </div>
    </mat-tab>

</mat-tab-group>
