<mat-tab-group>
    <!-- Saisie des notes -->
    <mat-tab label="Saisie des notes">
        <span>Saisie des notes</span>
        <!-- Liste déroulante -->
        <mat-form-field>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Tableau -->
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>

                <!-- firstName Column -->
                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
                </ng-container>

                  <!-- lastName Column -->
                  <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
                </ng-container>

                 <!-- mark Column -->
                 <ng-container matColumnDef="mark">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element"><input type="text" name="mark"></mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-tab>
    <!-- Relevé de notes -->
    <mat-tab label="Relevé de notes">
        <span>Relevé de notes</span>
        <!-- Liste déroulante -->
        <mat-form-field>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Tableau -->
        <!-- <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource"> -->

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                
                <!-- ID Column -->
                 <!-- <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> id : </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container> -->

                <!-- firstName Column -->
                <!-- <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef> FirstName </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
                </ng-container> -->

                  <!-- lastName Column -->
                  <!-- <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef> LastName </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
                </ng-container> -->

                <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table> -->
        </div>
    </mat-tab>
    <!-- Graphe -->
    <mat-tab label="Graphe">
        <div style="width: 40%;">
            <canvas
                baseChart
                [chartType]="'line'"
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="true"
                (chartClick)="onChartClick($event)">
            </canvas>
        </div>
    </mat-tab>
</mat-tab-group>
