<mat-tab-group>

    <!-- Saisie des notes -->
    <mat-tab label="Saisie des notes">
        <span>Saisie des notes</span>
        <!-- Listes déroulante -->
        <mat-form-field>
            <mat-select name="schoolSelected" [(ngModel)]="this.schoolSelected"
                        (ngModelChange)="getClassroomsByCurrentUserTeacher()" placeholder="Ecoles">
                <mat-option *ngFor="let school of schools" [value]="school.id">
                    {{ school.wording }} - {{school.city}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="this.schoolSelected && this.classrooms.length > 0">
            <mat-select name="classroomSelected" [(ngModel)]="classroomSelected"
                        (ngModelChange)="getStudentsUserByCurrentUserTeacher()" placeholder="Classes">
                <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                    {{ classroom.entitled }} - {{ classroom.option }} - {{ classroom.division }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="this.classroomSelected">
            <mat-form-field>
                <mat-select name="Module" placeholder="Module" [(ngModel)]="this.idModule">
                    <mat-option *ngFor="let module of this.modulesList.modules" [value]="module.id">
                        {{ module.entitled }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button type="submit" class="btn btn-warning" name="validate" (click)="saveMarks()">
                Valider
            </button>
        </div>

        <div>{{this.statusMessage}}</div>

        <div *ngIf="classroomSelected">
            <div *ngIf="this.studentsList === null">
                {{this.statusMessage }}
            </div>
            <table class="table table-striped tab" *ngIf="this.studentsList">
                <thead>
                <tr>
                    <th scope="col"> #</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Moyenne</th>
                    <th scope="col">Commentaire</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of this.studentsList.users; let iteration = index">
                    <td scope="row"></td>
                    <td> {{user.firstName}}</td>
                    <td> {{user.lastName}}</td>
                    <td><input type="text" name="mark" [(ngModel)]="this.averages[iteration]" id="fieldAverage"
                               maxlength="2">
                    </td>
                    <td><textarea name="comment" [(ngModel)]="this.comments[iteration]" id="fieldComment"
                                  rows="2"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </mat-tab>

    <!-- Relevé de notes -->
    <mat-tab label="Relevé de notes">
        <span>Relevé de notes</span>
        <!-- Liste déroulante -->
        <mat-form-field>
            <mat-select name="schoolSelectedReport" [(ngModel)]="schoolSelectedReport"
                        (ngModelChange)="getClassroomsByCurrentUserTeacherReport()" placeholder="Ecoles">
                <mat-option *ngFor="let school of schoolsReport" [value]="school.id">
                    {{ school.wording }} - {{school.city}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="schoolSelectedReport && this.classroomsReport.length > 0">
            <mat-select name="classroomSelectedReport" [(ngModel)]="classroomSelectedReport"
                        (ngModelChange)="getStudentsUserByCurrentUserTeacherReport()" placeholder="Classes">
                <mat-option *ngFor="let classroom of classroomsReport" [value]="classroom.id">
                    {{ classroom.entitled }} - {{ classroom.option }} - {{ classroom.division }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="classroomSelectedReport">
            <mat-select name="userSelectedReport" [(ngModel)]="userSelectedReport"
                        (ngModelChange)="getStudentUserByCurrentUserTeacherReport()" placeholder="Etudiants">
                <mat-option *ngFor="let user of usersReport" [value]="user.id">
                    {{ user.firstName }} - {{ user.lastName }}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <div *ngIf="this.userSelectedReport">
            <table class="table table-striped tab">
                <thead>
                <tr>
                    <th scope="col"> #</th>
                    <th scope="col"> Prénom</th>
                    <th scope="col"> Nom</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of usersReport">
                    <td scope="row"></td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="this.userSelectedReport && this.evaluations.length === 0 || this.evaluations === null">Pas de résultats</div>

        <div *ngIf="this.userSelectedReport && this.evaluations.length > 0 && this.evaluations !== null">
            <table class="table table-striped tab">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Moyenne</th>
                    <th scope="col">Commentaire</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let evaluation of this.evaluations">
                    <td scope="row"></td>
                    <td>{{evaluation.average}}</td>
                    <td>{{evaluation.comment}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>

    <!-- Graphe -->
    <mat-tab label="Graphe">
        <!-- Listes déroulante -->
        <mat-form-field>
            <mat-select name="schoolSelected" [(ngModel)]="schoolSelectedGraph"
                        (ngModelChange)="getClassroomsByCurrentUserTeacherGraph()" placeholder="Ecoles">
                <mat-option *ngFor="let school of schoolsGraph" [value]="school.id">
                    {{ school.wording }} - {{school.city}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="schoolSelectedGraph && this.classroomsGraph.length > 0">
            <mat-select name="classroomSelected" [(ngModel)]="classroomSelectedGraph"
                        (ngModelChange)="getStudentsUserByCurrentUserTeacherGraph() && this.loadChartData()"
                        placeholder="Classes">
                <mat-option *ngFor="let classroom of classroomsGraph" [value]="classroom.id">
                    {{ classroom.entitled }} - {{ classroom.option }} - {{ classroom.division }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div style="width: 59%;" *ngIf="this.containsData">
            <canvas
                baseChart
                [chartType]="'line'"
                [datasets]="chartData"
                [options]="chartOptions"
                [legend]="true"
                (chartClick)="onChartClick($event)">
            </canvas>
        </div>
    </mat-tab>

</mat-tab-group>
<!--[labels]="chartLabels"-->
