<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInscriptionLabel" jhiTranslate="dematNotesApp.inscription.home.createOrEditLabel">Create or edit a Inscription</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!inscription.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="inscription.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.inscription.school" for="field_school">School</label>
            <select class="form-control" id="field_school" name="school" [(ngModel)]="inscription.schoolId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="schoolOption.id" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.inscription.classroom" for="field_classroom">Classroom</label>
            <select class="form-control" id="field_classroom" name="classroom" [(ngModel)]="inscription.classroomId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="classroomOption.id" *ngFor="let classroomOption of classrooms; trackBy: trackClassroomById">{{classroomOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.inscription.schoolYear" for="field_schoolYear">School Year</label>
            <select class="form-control" id="field_schoolYear" name="schoolYear" [(ngModel)]="inscription.schoolYearId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="schoolYearOption.id" *ngFor="let schoolYearOption of schoolyears; trackBy: trackSchoolYearById">{{schoolYearOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="dematNotesApp.inscription.student" for="field_student">Student</label>
            <select class="form-control" id="field_student" multiple name="student" [(ngModel)]="inscription.students">
                <option [ngValue]="getSelected(inscription.students, studentOption)" *ngFor="let studentOption of students; trackBy: trackStudentById">{{studentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
