
<div *ngIf="delayStudent">
    <h2><span jhiTranslate="dematNotesApp.delayStudent.detail.title">Delay Student</span> {{delayStudent.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dematNotesApp.delayStudent.startDate">Start Date</span></dt>
        <dd>
            <span>{{delayStudent.startDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="dematNotesApp.delayStudent.endDate">End Date</span></dt>
        <dd>
            <span>{{delayStudent.endDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="dematNotesApp.delayStudent.reason">Reason</span></dt>
        <dd>
            <span>{{delayStudent.reason}}</span>
        </dd>
        <dt><span jhiTranslate="dematNotesApp.delayStudent.student">Student</span></dt>
        <dd>
            <div *ngIf="delayStudent.studentId">
                <a [routerLink]="['/student-my-suffix', delayStudent.studentId]">{{delayStudent.studentId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'delay-student-my-suffix/'+ delayStudent.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
