<!-- Feuille d'appel pour le professeur -->
<mat-tab-group>
    <mat-tab label="Feuille d'appel">
        <span>Appel du : </span>

        <form #f="ngForm" (ngSubmit)="saveAbsences()">
            <!-- Listes déroulante -->
            <mat-form-field>
                <mat-select name="schoolSelected" [(ngModel)]="this.schoolSelected"
                            (ngModelChange)="this.getClassrooms()"
                            placeholder="Ecoles">
                    <mat-option *ngFor="let school of this.schools" [value]="school.id">
                        {{ school.wording }} - {{school.city}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="schoolSelected && this.classrooms.length > 0">
                <mat-select name="classroomSelected" [(ngModel)]="this.classroomSelected"
                            (ngModelChange)="this.getStudents()"
                            placeholder="Classes">
                    <mat-option *ngFor="let classroom of this.classrooms" [value]="classroom.id">
                        {{ classroom.entitled }} - {{ classroom.option }} - {{ classroom.division }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="this.classroomSelected">
                <mat-select name="moduleSelected" [(ngModel)]="this.moduleSelected" #module="ngModel"
                            placeholder="Modules" required>
                    <mat-option *ngFor="let module of this.modules" [value]="module.id">
                        {{ module.entitled }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!--<div class="alert alert-danger" role="alert" *ngIf="(module?.errors)">-->
                <!--<div *ngIf="module?.touched && module?.errors">-->
                    <!--Le module est obligatoire-->
                <!--</div>-->
            <!--</div>-->

            <button type="submit" class="btn btn-warning" name="validate" [disabled]="!f.form.valid">Valider</button>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="dematNotesApp.absence.startDate" for="field_startDate">Start
                    Date</label>
                <div class="d-flex">
                    <input id="field_startDate" type="datetime-local" class="form-control col-lg-6" name="startDate"
                           [(ngModel)]="absenceSearch.startDate"
                           required/>
                </div>
                <div [hidden]="!(f.controls.startDate?.dirty && f.controls.startDate?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!f.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                           [hidden]="!f.controls.startDate?.errors?.ZonedDateTimelocal"
                           jhiTranslate="f.validation.ZonedDateTimelocal">
                        This field should be a date and time.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="dematNotesApp.absence.endDate" for="field_endDate">End
                    Date</label>
                <div class="d-flex">
                    <input id="field_endDate" type="datetime-local" class="form-control col-lg-6" name="endDate"
                           [(ngModel)]="absenceSearch.endDate"
                           required/>
                </div>
                <div [hidden]="!(f.controls.endDate?.dirty && f.controls.endDate?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!f.controls.endDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                           [hidden]="!f.controls.endDate?.errors?.ZonedDateTimelocal"
                           jhiTranslate="entity.validation.ZonedDateTimelocal">
                        This field should be a date and time.
                    </small>
                </div>
            </div>

            <div *ngIf="classroomSelected">
                <table class="table table-striped tab">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Absence</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users">
                        <td scope="row"></td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>
                            <mat-checkbox [(ngModel)]="this.absencesSelected[this.user.id]"
                                          [ngModelOptions]="{standalone: true}" required></mat-checkbox>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>

    </mat-tab>

    <!-- Mon espace pour l'étudiant -->
    <mat-tab label="Mon espace">
        <span style="float:right;">
            <mat-icon svgIcon="upload" (click)="openDialog()" class="icon"></mat-icon>
        </span>
        <span>Mon parcours :</span>

        <table class="table table-striped tab" *ngIf="this.absences || this.delayStudents">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Nombre d'absences</th>
                <th scope="col">Nombre de retards</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row"></td>
                <td>{{this.currentUser.firstName}}</td>
                <td>{{this.currentUser.lastName}}</td>
                <td>{{this.absences.length}}</td>
                <td>{{this.delayStudents.length}}</td>
            </tr>
            </tbody>
        </table>

    </mat-tab>
</mat-tab-group>
