<!-- Feuille d'appel pour le professeur -->
<mat-tab-group>
    <mat-tab label="Feuille d'appel">
        <span>Appel du : </span>
         <!-- Listes déroulante -->
         <mat-form-field>
            <mat-select name="schoolSelected" [(ngModel)]="schoolSelected" (ngModelChange)="getClassroomsByCurrentUserTeacher()" placeholder="Ecoles">
                <mat-option *ngFor="let school of schools" [value]="school.id">
                    {{ school.wording }} - {{school.city}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="schoolSelected && this.classrooms.length > 0">
            <mat-select name="classroomSelected" [(ngModel)]="classroomSelected" (ngModelChange)="getStudentsUserByCurrentUserTeacher()" placeholder="Classes">
                <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                    {{ classroom.entitled }} - {{ classroom.option }} - {{ classroom.division }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="classroomSelected">
            <mat-select name="userSelected" [(ngModel)]="userSelected" (ngModelChange)="getStudentUserByCurrentUserTeacher()" placeholder="Etudiants">
                <mat-option *ngFor="let user of users" [value]="user.id">
                    {{ user.firstName }} -  {{ user.lastName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button type="submit" class="btn btn-dark" name="validate" (click)="saveAbsences()">Valider</button>

    <div *ngIf="classroomSelected">
        <table class="table table-striped tab">
            <thead>
            <tr>
                <th scope="col"> # </th>
                <th scope="col"> Prénom </th>
                <th scope="col"> Nom </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
                <td scope="row"></td>
                <td> {{user.firstName}} </td>
                <td> {{user.lastName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </mat-tab>

    <!-- Mon espace pour l'étudiant -->
    <mat-tab label="Mon espace" *ngIf="this.absences">
        <span style="float:right;">
            <!--<mat-icon svgIcon="printer"></mat-icon>-->
            <mat-icon svgIcon="upload" (click)="openDialog()" id="icon"></mat-icon>
        </span>
        <span>Mon parcours : </span>

        <table class="table table-striped tab">
            <thead>
            <tr>
                <th scope="col"> # </th>
                <th scope="col"> Prénom </th>
                <th scope="col"> Nom </th>
                <th scope="col"> Nombre d'absences </th>
                <th scope="col"> Nombre de retards  </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row"></td>
                <td> {{currentUser.firstName}} </td>
                <td> {{currentUser.lastName}} </td>
                <td> {{this.absences.length}} </td>
                <td> {{this.delayStudents.length}} </td>
            </tr>
            </tbody>
        </table>

    </mat-tab>
</mat-tab-group>

<!--<img src="../../content/images/printer.svg" style="display:none;">-->
<img src="../../content/images/upload.svg" style="display:none;">

