<h2> Documents </h2>
<div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
         role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
         aria-valuemin="0" aria-valuemax="100"
         [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
</div>

<label class="btn btn-default">
    <input type="file" (change)="selectFile($event)">
</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
<br/>
<div class="container" style="width:400px">
    <div style="color: blue; margin-bottom: 20px">
        <table class="table table-hover" *ngIf="this.documents.length > 0 && this.documents !== null">
            <thead>
            <tr>
                <th scope="col"> Documents </th>
                <th scope="col"> Action </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of this.documents">
                <td (click)="this.downloadDocument(document.id)" class="icon">{{document.entitled}}</td>
                <td><span (click)="this.deleteDocument(document.id)" class="icon">X</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
</div>
