<div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
         role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
         aria-valuemin="0" aria-valuemax="100"
         [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
</div>

<label class="btn btn-default">
    <input type="file" (change)="selectFile($event)">
</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
<br/>
<button (click)="refresh()">Refresh</button>
<div class="container" style="width:400px">
    <div style="color: blue; margin-bottom: 20px">
        <ul *ngFor="let document of this.documents">
            <li><a href="{{document.url}}" download>{{document.entitled}}</a></li>
            <li><a href="{{document.url}}">{{document.entitled}}</a></li>
        </ul>
    </div>
    <br/>
    <br/>
</div>
