<div>
    <h2>
        <span jhiTranslate="dematNotesApp.school.home.title">Schools</span>
        <button class="btn btn-primary float-right jh-create-entity create-school" [routerLink]="['/', { outlets: { popup: ['school-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dematNotesApp.school.home.createLabel">
            Create new School
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schools">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dematNotesApp.school.wording">Wording</span></th>
            <th><span jhiTranslate="dematNotesApp.school.phoneNumber">Phone Number</span></th>
            <th><span jhiTranslate="dematNotesApp.school.address">Address</span></th>
            <th><span jhiTranslate="dematNotesApp.school.city">City</span></th>
            <th><span jhiTranslate="dematNotesApp.school.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="dematNotesApp.school.schoolLevel">School Level</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let school of schools ;trackBy: trackId">
                <td><a [routerLink]="['../school', school.id ]">{{school.id}}</a></td>
                <td>{{school.wording}}</td>
                <td>{{school.phoneNumber}}</td>
                <td>{{school.address}}</td>
                <td>{{school.city}}</td>
                <td>{{school.postalCode}}</td>
                <td>{{school.schoolLevel}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../school', school.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school/'+ school.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school/'+ school.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
