<div class="home-text">
        <h1>Bienvenue sur l'Espace Numérique de Travail</h1>
        <p>
            L'université met à la disposition de ses personnels et de ses étudiants un Environnement Numérique de Travail (ENT) ou bureau à distance.<br>
            Celui-ci permet, à partir d'un navigateur, d'accéder aux services mis à disposition, depuis n'importe quel lieu et à n'importe quel moment. Il suffit de disposer d'un équipement connecté à l'internet (depuis son domicile, depuis le réseau de l'université ou depuis tout autre point d'accès).
        </p>
        <p>
            Pour accéder à l'ENT, vous devez être régulièrement inscrit en qualité d'étudiant ou bien faire partie du personnel de l'établissement, et disposer d'un identifiant et du mot de passe associé.
            <br>
            L'ENT vous permet d'accéder à : votre messagerie électronique, vos fichiers personnels, vos pages web,...
        </p>
</div>
<img src="../../content/images/Photo_pc.jpg" class="wallpaper" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
