<div class="home-text">
    <h1>Bienvenue sur DematNotes</h1>
    <p>
        DematNotes est une application qui permet de dématérialiser les bulletins de notes et les diplômes des étudiants
        dans l'enseignement supérieur.<br/>
        Elle accompagne tous les établissements de l'enseignement supérieur dans la gestion administrative de leurs étudiants, et leur permet un suivi et une traçabilité des dossiers administrative efficace.
    </p>
    <p>
        Celle-ci est accessible, à partir d'un navigateur, permettant d'accéder aux services mis à disposition, depuis
        n'importe quel lieu
        et à n'importe quel moment. Il suffit de disposer d'un équipement connecté à l'internet.
    </p>
</div>
<img src="../../content/images/Photo_pc.jpg" class="wallpaper"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
