<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInscriptionModuleLabel" jhiTranslate="dematNotesApp.inscriptionModule.home.createOrEditLabel">Create or edit a Inscription Module</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!inscriptionModule.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="inscriptionModule.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.inscriptionModule.inscriptionDate" for="field_inscriptionDate">Inscription Date</label>
            <div class="input-group">
                <input id="field_inscriptionDate" type="text" class="form-control" name="inscriptionDate" ngbDatepicker  #inscriptionDateDp="ngbDatepicker" [(ngModel)]="inscriptionModule.inscriptionDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="inscriptionDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.inscriptionDate?.dirty && editForm.controls.inscriptionDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.inscriptionDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.inscriptionModule.validation" for="field_validation">Validation</label>
            <input type="text" class="form-control" name="validation" id="field_validation"
                [(ngModel)]="inscriptionModule.validation" maxlength="10"/>
            <div [hidden]="!(editForm.controls.validation?.dirty && editForm.controls.validation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.validation?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.inscriptionModule.yearPeriod" for="field_yearPeriod">Year Period</label>
            <input type="text" class="form-control" name="yearPeriod" id="field_yearPeriod"
                [(ngModel)]="inscriptionModule.yearPeriod" required/>
            <div [hidden]="!(editForm.controls.yearPeriod?.dirty && editForm.controls.yearPeriod?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.yearPeriod?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.inscriptionModule.module" for="field_module">Module</label>
            <select class="form-control" id="field_module" name="module" [(ngModel)]="inscriptionModule.moduleId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="moduleOption.id" *ngFor="let moduleOption of modules; trackBy: trackModuleById">{{moduleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.inscriptionModule.student" for="field_student">Student</label>
            <select class="form-control" id="field_student" name="student" [(ngModel)]="inscriptionModule.studentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="studentOption.id" *ngFor="let studentOption of students; trackBy: trackStudentById">{{studentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
