<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDocumentLabel" jhiTranslate="dematNotesApp.document.home.createOrEditLabel">Create or edit a Document</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!document.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="document.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.document.entitled" for="field_entitled">Entitled</label>
            <input type="text" class="form-control" name="entitled" id="field_entitled"
                [(ngModel)]="document.entitled" required/>
            <div [hidden]="!(editForm.controls.entitled?.dirty && editForm.controls.entitled?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.entitled?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.document.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="document.type" required/>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.document.visible" for="field_visible">Visible</label>
            <input type="checkbox" class="form-control" name="visible" id="field_visible"
                [(ngModel)]="document.visible" />
            <div [hidden]="!(editForm.controls.visible?.dirty && editForm.controls.visible?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.visible?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.document.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="document.url" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dematNotesApp.document.student" for="field_student">Student</label>
            <select class="form-control" id="field_student" name="student" [(ngModel)]="document.studentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="studentOption.id" *ngFor="let studentOption of students; trackBy: trackStudentById">{{studentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
