<div>
    <h2>
        <span jhiTranslate="dematNotesApp.manager.home.title">Managers</span>
        <button class="btn btn-primary float-right jh-create-entity create-manager" [routerLink]="['/', { outlets: { popup: ['manager-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dematNotesApp.manager.home.createLabel">
            Create new Manager
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="managers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dematNotesApp.manager.email">Email</span></th>
            <th><span jhiTranslate="dematNotesApp.manager.mobilePhoneNumber">Mobile Phone Number</span></th>
            <th><span jhiTranslate="dematNotesApp.manager.fixePhoneNumber">Fixe Phone Number</span></th>
            <th><span jhiTranslate="dematNotesApp.manager.address">Address</span></th>
            <th><span jhiTranslate="dematNotesApp.manager.city">City</span></th>
            <th><span jhiTranslate="dematNotesApp.manager.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="dematNotesApp.manager.dateOfBirth">Date Of Birth</span></th>
            <th><span jhiTranslate="dematNotesApp.manager.placeOfBirth">Place Of Birth</span></th>
            <th><span jhiTranslate="dematNotesApp.manager.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let manager of managers ;trackBy: trackId">
                <td><a [routerLink]="['../manager', manager.id ]">{{manager.id}}</a></td>
                <td>{{manager.email}}</td>
                <td>{{manager.mobilePhoneNumber}}</td>
                <td>{{manager.fixePhoneNumber}}</td>
                <td>{{manager.address}}</td>
                <td>{{manager.city}}</td>
                <td>{{manager.postalCode}}</td>
                <td>{{manager.dateOfBirth | date:'mediumDate'}}</td>
                <td>{{manager.placeOfBirth}}</td>
                <td>
                    {{manager.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../manager', manager.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'manager/'+ manager.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'manager/'+ manager.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
